[Unit]
Description=goweb
ConditionPathExists=/root/go/src
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/root/go/bin
ExecStart=/root/go/bin/gofiberapi

Restart=on-failure
RestartSec=10

ExecStartPre=/bin/mkdir -p /var/log/goweb
ExecStartPre=/bin/chown syslog:adm /var/log/goweb
ExecStartPre=/bin/chmod 775 /root/go/bin

[Install]
WantedBy=multi-user.target